@model HigginsP3.Models.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="About">
<h1>@Model.title</h1>

<p>@Model.description</p>

<p>@Model.quote</p>
<p>- @Model.quoteAuthor</p>
</div>
